/* .counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    height: 100vh;
    

    text-align: start;
}
.count {
    font-size: 40px;
}
.buttons{
    padding: 5px;
    margin: 10px;
}
.buttons button{
    margin: 0 2px;
    cursor: pointer;
} */
 /* .second{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 }
 button{
    margin: 5px;
 }
 .modal-overlay{
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
 }
 .modal-overlay.show{
    display: block;
 }
 .modal-box {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
 .modal-close {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
} */
 /* ================================================================ */
/* Start global rules */
body{
   margin: 0;
   
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 15px;
  height: 1px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
 form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 27, 31);
    /* flex-direction: column; */
    height: fit-content;
    min-width: calc(70%);
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;

 }
 .form{
   padding: 10px;
   /* background-color: burlywood; */
   border-radius: 20px;
   min-height: 400px;
   text-align: center;
   flex-grow: 1;
 }
 .field{
    margin:  20px 0 0 0;
 }
 input::placeholder {
  color: #806f5f;
}
 input{
    border: 3px solid ;
    border-radius: 10px;
    padding: 10px;
    /* margin: 20px 0 0 0; */
 }

 .field label{
   color: #806f5f;
 }

 button{
   background-color: rgb(28, 27, 31);
    border: solid 1px #806f5f;
    border-radius: 5px;
    padding: 10px;
    color: #806f5f;
    cursor: pointer;
    transition: .3s;
 }
 button:hover{
   background-color: #806f5f;
   color: rgb(28, 27, 31);
 }
 input:focus{
   outline: none;
  background-color: #806f5f;
 }
 .error {
  color: rgb(167, 63, 63);
  margin: 0;
}
.ok {
  color: green;
  margin: 0;
}
.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0, 0, 0,.5)),url(ChatGPT\ Image\ Sep\ 17\,\ 2026\,\ 08_47_06\ PM.png);

}

.style{
   flex-grow: 1;
   /* background-color: beige; */
   height: 400px;
   text-align: center;
   border-radius: 20px;
   color: #806f5f;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   line-height: .5;
}
.txt{
   font-size: 26px;
}
@media(max-width: 767px){
  .style{
    padding: 10px;
  }
  form{
    margin: 0 10px;
  }

  .txt{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0px 0;
    line-height: 1;
    
    color: #806f5f;
  }
}
